<article class="post">
  <div class="title">
    <h2 id="blog-title">{{title}}</h2>>
  </div>
<div class="meta">
  Written by {{user.username}} on {{format_date created_at}}
  |
  <a href="/post/{{id}}">{{comments.length}} Comment(s)</a>
</div>
</article>